/snapd_2.71.no-vendor.tar.xz
/snapd_2.71.only-vendor.tar.xz
/snapd_2.72.no-vendor.tar.xz
/snapd_2.72.only-vendor.tar.xz
/snapd_2.74.1.no-vendor.tar.xz
/snapd_2.74.1.only-vendor.tar.xz
/snapd_2.75.2.no-vendor.tar.xz
/snapd_2.75.2.only-vendor.tar.xz
